{% load static %}
<div class="container">
    <h2 class="sub-title">Exclusives</h2>
    <div class="exclusive">
        <div>
            <img src="{% static 'images/Green_Paddy_Fields.jpeg' %}">
            <span>
                <h3>Patna-Bihta</h3>
                <p>Start @ $250</p>
            </span>
        </div>
        <div>
            <img src="{% static 'images/apartment.png' %}">
            <span>
                <h3>Patna-Apartment</h3>
                <p>Start @ $250</p>
            </span>
        </div>
        <div>
            <img src="{% static 'images/resdent-plot.png' %}">
            <span>
                <h3>Patna-Plot</h3>
                <p>Start @ $250</p>
            </span>
        </div>
        <div>
            <img src="{% static 'images/comm-plot.jpg' %}">
            <span>
                <h3>Commercial Plot</h3>
                <p>Start @ $250</p>
            </span>
        </div>
        <div>
            <img src="{% static 'images/image-5.png' %}">
            <span>
                <h3>London</h3>
                <p>Start @ $250</p>
            </span>
        </div>
        <div>
            <img src="{% static 'images/soon-black.jpg' %}">
            <span>
                <h3>Patna-Bihta</h3>
                <p>Start @ $250</p>
            </span>
        </div>
        <div>
            <img src="{% static 'images/soon-black.jpg' %}">
            <span>
                <h3>Patna-Bihta</h3>
                <p>Start @ $250</p>
            </span>
        </div>
        <div>
            <img src="{% static 'images/soon-black.jpg' %}">
            <span>
                <h3>Patna-Bihta</h3>
                <p>Start @ $250</p>
            </span>
        </div>
        <div>
            <img src="{% static 'images/soon-black.jpg' %}">
            <span>
                <h3>Patna-Bihta</h3>
                <p>Start @ $250</p>
            </span>
        </div>
        <div>
            <img src="{% static 'images/soon-black.jpg' %}">
            <span>
                <h3>Patna-Bihta</h3>
                <p>Start @ $250</p>
            </span>
        </div>
    </div>