{% load static %}
<div class="exclusives">
    <div>
        <img src="{% static 'images/image-1.png' %}">
        <span>
            <h3>Patna-Bihta</h3>
            <p>Start @ $250</p>
        </span>
    </div>
    <div>
        <img src="{% static 'images/image-1.png' %}">
        <span>
            <h3>Patna-Bihta</h3>
            <p>Start @ $250</p>
        </span>
    </div>
    <div>
        <img src="{% static 'images/image-1.png' %}">
        <span>
            <h3>Patna-Bihta</h3>
            <p>Start @ $250</p>
        </span>
    </div>

</div>